<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="chart-container">
  <div id="highcharts-container"></div>
</div>

<!--menu - not displaying correctly-->
<div>
    <fm-pivot #pivot 
              [toolbar]="true"
              [shareReportConnection]="{url: 'https://olap.flexmonster.com:9500'}"
              [report]="'https://cdn.flexmonster.com/github/highcharts-report.json'"
              [height]="600"
              [licenseFilePath]="'https://cdn.flexmonster.com/jsfiddle.charts.key'"
              (reportcomplete)="onReportComplete()"
              (beforetoolbarcreated)="customizeToolbar($event)">
    </fm-pivot>
</div>


